<div class="container py-5">
    <div class="row">
        <div class="col">
            <form class="login-form">
                <h1>Developer Login</h1>
                <h4>Welcome back!</h4>
                <div class="form-group">
                    <label for="email-login">Email address</label>
                    <input type="text" class="form-control" id="email-login" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password-login">Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="password-login">
                </div>
                <button type="submit" class="px-5">LOGIN</button>
            </form>
        </div>
        <div class="col">
            <form class="signup-form">
                <h1>Developer Sign Up</h1>
                <h4>Join the team!</h4>
                <div class="form-group">
                    <label for="devname-signup">Username</label>
                    <input type="text" class="form-control" id="devname-signup">
                </div>
                <div class="form-group">
                    <label for="email-signup">Email address</label>
                    <input type="text" class="form-control" id="email-signup" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password-signup">Password</label>
                    <input type="password" class="form-control" id="password-signup">
                </div>
                <button type="submit" class="px-5">SIGNUP</button>
            </form>
        </div>
    </div>
</div>
<script scr="/javascript/developer-login.js"></script>