<div class="jumbotron">
    <h1 class="display-4">DON'T YOU LOVE</br>
        WHEN EVERYBODY WINS?
    </h1>

    <p class="lead">This is This is how it is at START US!</p>
    </br>
    <button type="submit" class="px-5">Learn more</button>
</div>